.FloatingActionButton {
  display: block;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
  bottom: 0;
  color: #111;
  background-color: #ebeef3;
  border: 1px solid #ebeef3;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.3s ease-in;
  outline: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: #444;
  }

  /* Vertical line */
  &:before {
    top: 35%;
    left: 50%;
    width: 2px;
    height: 30%;
    margin-left: -1px;
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 35%;
    width: 30%;
    height: 2px;
    margin-top: -1px;
  }

  &:hover {
    background-color: #fff;
    transition: all 0.3s ease-out;
  }

  &:visited {
    background-color: #ebeef3;
  }
}
