.LinkContainer {
  position: relative;
}

.Link {
  color: #333;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #333;
  }
}

.RemoveBtn {
  position: absolute;
  right: 0;
  color: lighten(#323a43, 60%);
  opacity: 0.5;

  &:hover {
    color: #c2606a;
    opacity: 1;
    cursor: pointer;
    transition: all 400ms;
  }
}
